:root {
    /* --primary-red: #7c1034; */
    --primary-red: #413A6D;
    --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
    --primary-black: #000000;
    --primary-blue: #29354a;
    --white: #f2f4f8;
    --medium-grey: #5c5c5c;
    --light-grey: #ebebeb;
    --dark-grey: #141414;
    /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
  }
  .nav-link-db{
    text-decoration: none;
    color: var(--white);
  }
  .create-order-container{
    padding: 1% 15% 1% 15%;
    background-color: var(--light-grey);
  }
  .invoice-container{
    border: 2px solid var(--medium-grey);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
  }
  .invoice-heading{
   color: var(--medium-grey);
   border-bottom: 2px solid black;
  }
  .order-detail-input-container{
    margin-top: 1%;
  }
  .order-input-title{
    margin: 0.5%;
    margin-top: 2%;
    font-weight: 700;
    color: var(--primary-red);
  }
  .order-detail-input{
    border: 2px solid var(--medium-grey);
    border-radius: 5px;
    padding: 0.3%;
    width: 60%;
  }
  #select{
    padding: 0.5%;
    border: 2px solid var(--medium-grey);
    border-radius: 5px;
    width: 60%;
  }
  .jaw{
    margin-top: 2%;
    width: 60%;
  }
  .product-checkbox-container{
    margin-top: 5%;
  }
  .product-input-title{
    color: var(--primary-red);
    margin: 2%;
  }
  .radio-title{
    color: var(--medium-grey);
    font-weight: 700;
    margin: 1%;
  }
  .jaw{
    margin-top: 2%;
    width: 60%;
  }
  .shade-container{
 margin: 5%;
  }
  .create-btn {
 
    padding: 1% 3% 1% 3%;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    margin: 1%;
  }
  .create-inv{
    float: right;
    padding: 1% 3% 1% 3%;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
  }
  .button-container{
    padding: 1% 15% 1% 15%;
    background: var(--white);
    border: 2px solid var(--medium-grey);
    border-radius: 5px;
    padding: 2%;
  }
  .text-area-container{
    margin-top: 5%;
  }
  .text-area{
    display: block;
    margin: auto;
    padding: 2%;
  }