:root {
  /* --primary-red: #7c1034; */
  --primary-red: #413A6D;

  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
  /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
}
.services-module-container{
  padding: 2% 20% 2% 20%;
}
.mod-icon{
  display: block;
  margin: auto;
  width: 8%;
}
.mod-title{
  display: block;
  margin: auto;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-size: 30px;
}
.mod-heading{
  text-align: center;
  color: var(--medium-grey);
  font-size: 35px;
  margin-top: 2%;
}
.mod-txt{
  color: var(--medium-grey);
  text-align: center;
  font-weight: 700;
  margin-top: 2%;
}
.services-card-container{
  margin-top: 5%;
}
.service-card{
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.service-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.service-img{
  width: 100%;
  border-radius: 5px;
}
.service-action{
  background-color: var(--primary-blue);
  padding: 5% 3% 5% 3%;

  
}
.service-action-txt{
  color: var(--white);
text-align: center;
font-weight: 700;
font-size: 20px;
}
/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px) {

  
}
