:root {
  /* --primary-red: #7c1034; */
  --primary-red: #483d8b;
  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
  /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
}
.services-module-container {
  background-color: var(--white);
  padding: 2% 10% 2% 10%;
}
.service-img {
  width: 10%;
  display: block;
  margin: auto;
  /* margin-top: 50%; */
}
.slider-card {
  /* background-color: var(--primary-red); */
  background: var(--gradient);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5%;
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 15vh;
}
.service-heading {
  color: var(--white);
  text-align: center;
}
.service-txt {
  color: var(--white);
  /* margin-top: 2%; */
  /* margin-left: 5%; */
  text-align: center;
}
/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px) {
  .services-module-container{
    padding: 2%;
  }
  .slider-card{
    padding: 2%;
  }
  .service-img {
    width: 25%;
  }
  .service-heading {
    font-size: 12px;
  }
  .service-txt {
    font-size: 12px;
  }
  
}
