:root {
  --green: rgb(16, 185, 129);
  --blue: rgb(103, 108, 184);
  --primary-blue: rgb(54, 149, 204);
  --light-grey: rgb(243, 244, 246);
  --dark-grey: rgb(31, 41, 55);
  --medium-grey: rgb(229, 231, 235);
  --primary-black: rgb(0, 0, 0);
  --smoke-white: rgb(255, 255, 255);
  --primary-white: rgb(255, 255, 255);
}
  .services-module-container{
    background-color: var(--primary-blue);
    padding: 2% 10% 2% 10%;
  }
  .service-img{
    width: 100%;
    /* margin-top: 50%; */
  }
  .service-heading{
    color: var(--smoke-white);
    text-align: center;
  }
  .service-txt{
    color: var(--light-grey);
    margin-top: 2%;
    margin-left: 5%;
  }
  /* Mobile Responsive Settings */
  @media only screen and (max-device-width: 768px){
    .service-img{width: 50%;}
    .service-heading{
        font-size: 15px;
    }
    .service-txt{
        font-size: 12px;
    }
  }