:root {
  --primary-red: #7c1034;
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
  --gradient: linear-gradient(
    90deg,
    rgba(124, 16, 52, 1) 15%,
    rgba(41, 53, 74, 1) 90%
  );
}
.products-container {
  display: block;
  margin: auto;
}
.product-title {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  display: block;
  margin: auto;
  font-size: 14px;
}
.product-img {
  display: block;
  margin: auto;
  width: 50%;
}
/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px) {
  .product-title {
    font-size: 6px;
  }
}
