:root {
    --light-pink: rgb(255, 232, 233);
    --primary-red: rgb(209, 0, 75);
    --dark-pink: rgb(209, 0, 75);
    --light-grey: rgb(235, 236, 240);
    --dark-grey: rgb(73, 80, 87);
    --medium-grey: rgb(73, 80, 87);
    --primary-black: rgb(73, 80, 87);
    --smoke-white: rgb(245, 245, 245);
    --primary-white: rgb(255, 255, 255);
  }
  .products-container{
    display: block;
    margin: auto;
  }
  .product-title{
    text-align: center;
  }
  .product-img{
    display: block;
    margin: auto;
    width: 50%;
  }
  /* Mobile Responsive Settings */
  @media only screen and (max-device-width: 768px){
    .product-title{
        font-size: 8px;
    }
  }