:root {
  --green: rgb(7 94 84);
  --blue: rgb(103, 108, 184);
  --primary-blue: rgb(54, 149, 204);
  --light-grey: rgb(243, 244, 246);
  --dark-grey: rgb(31, 41, 55);
  --medium-grey: rgb(229, 231, 235);
  --primary-black: rgb(0, 0, 0);
  --smoke-white: rgb(255, 255, 255);
  --primary-white: rgb(255, 255, 255);
}
  .experience-container{
    padding: 5% 20% 2% 25%;
  }
  .experience-heading{
    color: var(--primary-black);
  }
  .experience-txt{
    color: var(--dark-grey);
    margin-top: 5%;
  }
  .experience-txt-container{
    margin-top: 5%;
  }
  .experience-img{
    width: 50%;
    display: block;
    margin: auto;
  }
  /* Mobile Responsive Settings */
  @media only screen and (max-device-width: 768px){
    .experience-container{
        padding: 2%;
        margin-top: 5%;
    }
    .experience-heading{
        font-size: 14px;
    }
    .experience-txt{
        font-size: 12px;
    }
    .experience-img{
        width: 80%;
    }
  }