:root {
  /* --primary-red: #7c1034; */
  --primary-red: #413A6D;

  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
  /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
}
  .experience-container{
    padding: 5% 20% 10% 20%;
  }
  .experience-heading{
    color: var(--primary-black);
    text-align: center;
  }
  .experience-txt{
    color: var(--dark-grey);
    margin-top: 1%;
    text-align: center;
  }
  .experience-txt-container{
    margin-top: 2%;
  }
  .experience-img{
    width: 50%;
    display: block;
    margin: auto;
  }
  .title-gradient{
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-weight: 900;
    font-size: larger;
  }
  /* Mobile Responsive Settings */
  @media only screen and (max-device-width: 768px){
    .experience-container{
        padding: 2%;
        margin-top: 5%;
    }
    .experience-heading{
        font-size: 14px;
    }
    .experience-txt{
        font-size: 12px;
        text-align: justify;
        padding: 0% 2% 0% 2%;
    }
    .experience-img{
        width: 80%;
    }
  }