:root {
    /* --primary-red: #7c1034; */
    --primary-red: #413A6D;

    --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
    --primary-black: #000000;
    --primary-blue: #29354a;
    --white: #f2f4f8;
    --medium-grey: #5c5c5c;
    --dark-grey: #141414;
    /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
  }
.clientale-container{
    padding: 5% 15% 5% 15%;
    background: url(../../Assets/clientale.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clientale-txt-container{
    margin-bottom: 10%
}
.clientale-heading{
    text-align: center;
    color: var(--white);

}
.clientale-txt{
    color: var(--white);
    text-align: center;
}
.clientale-title{
    font-size: 35px;
    color: var(--primary-red);
    font-weight: 600;
}

/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px){
    .clientale-container{
        padding: 5%;
    }
    .clientale-heading{
        font-size: 14px;
    }
    .clientale-txt{
        font-size: 10px;
    }
    .clientale-title{
        font-size: 12px;
    }
}