:root {
    --green: rgb(16, 185, 129);
    --blue: rgb(103, 108, 184);
    --primary-blue: rgb(54, 149, 204);
    --light-grey: rgb(243, 244, 246);
    --dark-grey: rgb(31, 41, 55);
    --medium-grey: rgb(229, 231, 235);
    --primary-black: rgb(0, 0, 0);
    --smoke-white: rgb(255, 255, 255);
    --primary-white: rgb(255, 255, 255);
  }
.clientale-container{
    padding: 5% 15% 5% 15%;
    background: url(../../Assets/clientale.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clientale-txt-container{
    margin-bottom: 10%
}
.clientale-heading{
    text-align: center;
    color: var(--smoke-white);

}
.clientale-txt{
    text-align: center;
    color: var(--light-grey);
}
.clientale-title{
    font-size: 35px;
    color: var(--green);
    font-weight: 600;
}

/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px){
    .clientale-heading{
        font-size: 14px;
    }
    .clientale-txt{
        font-size: 10px;
    }
    .clientale-title{
        font-size: 20px;
    }
}