:root {
  /* --primary-red: #7c1034; */
  --primary-red: #413A6D;
  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --light-grey: #ebebeb;
  --dark-grey: #141414;
  /* --gradient: linear-gradient(
    90deg,
    rgba(124, 16, 52, 1) 15%,
    rgba(41, 53, 74, 1) 90%
  ); */
}
.lab-slip-container {
  background: var(--light-grey);
  padding: 2% 20% 2% 20%;
}
.address-container {
  background-color: var(--white);
  border: 2px var(--primary-red) solid;
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 5%;
}
.add-title{
  color: var(--primary-red);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.add-txt{
    font-weight: 600;
    color: var(--medium-grey);
}
.slip-title{
    color: var(--medium-grey);
    font-weight: 600;
    font-size: 20px;
    margin-top: 5%;
}
.slip-txt{
    color: var(--dark-grey);
    font-weight: 500;
}
.heading{
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 18px;
}
.heading-txt{
    color: var(--medium-grey);
    font-weight: 600;
    font-size: 16px;
}
.print{
    margin: 2%;
    padding: 1% 3% 1% 3%;
    color: var(--white);
    background-color: var(--primary-red);
    border-radius:  5px;
    border: none;
    cursor: pointer;
}
.back-home{
    margin: 2%;
    padding: 1% 3% 1% 3%;
    color: var(--white);
    background-color: var(--primary-blue);
    border-radius:  5px;
    border: none;
    cursor: pointer;
}