:root {
  --primary-red: #413A6D;
    --primary-black: #000000;
    --primary-blue: #29354a;
    --white: #f2f4f8;
    --medium-grey: #5c5c5c;
    --dark-grey: #141414;
    --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%);
  }
  .orders-container{
    background-color: var(--medium-grey);
  }