:root {
  --green: #7C1034;
  --blue: rgb(103, 108, 184);
  --primary-blue: rgb(54, 149, 204);
  --light-grey: rgb(243, 244, 246);
  --dark-grey: rgb(31, 41, 55);
  --medium-grey: rgb(229, 231, 235);
  --primary-black: rgb(0, 0, 0);
  --smoke-white: rgb(255, 255, 255);
  --primary-white: rgb(255, 255, 255);
}
.introduction-container {
  background-color: var(--light-grey);
  padding: 2%;
}
.intro-txt-container {
  padding: 5% 20% 5% 20%;
}
.intro-heading {
  color: var(--dark-grey);
  font-size: 30px;
}
.title {
  color: var(--green);
  font-weight: 600;
}
.intro-img {
  width: 30%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.intro-txt {
  color: var(--dark-grey);
  margin-top: 2%;
}
/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px){
    .intro-txt-container{
        padding: 2%;
    }
    .intro-heading{
        font-size: 20px;
        padding: 0%;
        text-align: center;
    }
    .intro-txt{
        font-size: 10px;
        text-align: center;
    }
}