:root {
  /* --primary-red: #7c1034; */
  --primary-red: #483d8b;
  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
  /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
}
.introduction-container {
  background: url(../../Assets/clientale.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12% 5% 12% 5%;
}
.intro-txt-container {
  /* padding: 5% 20% 5% 20%; */
}
.intro-heading {
  color: var(--white);
  font-size: 50px;
  text-align: center;
}
.title {
 color: var(--white);
}
.intro-img {
  width: 30%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.intro-txt {
  color: var(--white);
  margin-top: 2%;
  text-align: center;
}
/* Mobile Responsive Settings */
@media only screen and (max-device-width: 768px) {
  .intro-txt-container {
    padding: 2%;
  }
  .intro-heading {
    font-size: 20px;
    padding: 0%;
    text-align: center;
  }
  .intro-txt {
    font-size: 10px;
    text-align: center;
  }
}
