:root {
  /* --primary-red: #7c1034; */
  --primary-red: #413a6d;
  --gradient: linear-gradient(
    90deg,
    var(--primary-red) 15%,
    var(--primary-blue) 90%
  );
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --light-grey: #ebebeb;
  --dark-grey: #141414;
  /* --gradient:linear-gradient(90deg, rgba(124,16,52,1) 15%, rgba(41,53,74,1) 90%); */
}
.search-bar-container {
  background-color: whitesmoke;
  padding: 1% 15% 1% 15%;
}
.create-invoice-container {
  background-color: whitesmoke;
  padding: 1% 5% 1% 5%;
}
.invoice {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.invoice:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.client-search {
  padding: 0.5% 2% 0.5% 2%;
  border: none;
  background-color: rgb(220, 245, 237);
  border-radius: 5px;
  margin: 1%;
}
.search{
  border: none;
  background-color: var(--primary-blue);
  color: var(--white);
  font-weight: 700;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 5px;
  cursor: pointer;
  margin: 1%;
  }
#client-search{
  padding: 0.5% 2% 0.5% 2%;
  border: none;
  background-color: rgb(220, 245, 237);
  border-radius: 5px;
  margin: 1%;
}