:root {
    --green: rgb(7 94 84);
    --blue: rgb(103, 108, 184);
    --primary-blue: rgb(54, 149, 204);
    --light-grey: rgb(243, 244, 246);
    --dark-grey: rgb(31, 41, 55);
    --medium-grey: rgb(229, 231, 235);
    --primary-black: rgb(0, 0, 0);
    --smoke-white: rgb(255, 255, 255);
    --primary-white: rgb(255, 255, 255);
  }
*{
    padding: 0%;
    margin: 0%;
}
.header-container{
    background-color: var(--green);
    /* padding: 0.5% 15% 0.5% 15%; */
    padding: 0.5% 0% 0.5% 0%;

}
.social-media-icon-container{
    padding-left: 22%;
}
.social-media-icons{
    color: var(--primary-white);
    cursor: pointer;
    margin: 0.5%;
}
.social-media-icons:hover{
    color: var(--primary-blue);
}
.auth-txt{
    color: var(--primary-white);
    margin: 0.5%;
    cursor: pointer;
}