:root {
    /* --primary-red: #7c1034; */
  --primary-red: #483d8b;
  --gradient:linear-gradient(90deg, var(--primary-red) 15%, var(--primary-blue) 90%);

    --primary-black: #000000;
    --primary-blue: #29354a;
    --white: #f2f4f8;
    --medium-grey: #5c5c5c;
    --dark-grey: #141414;
  }
 
  .heading-title{
    display: block;
    margin: auto;
    background: var(--gradient);
    width: fit-content;
    padding: 15px;
    border-radius: 50px;
    color: var(--white);
    text-align: center;
  }
  @media only screen and (max-device-width: 768px){
    .heading-title{
      padding: 10px;
      font-size: 14px;
    }
  }