:root {
  --primary-red: #7c1034;
  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
}
.footer-container {
  background-color: var(--primary-red);
  padding: 1% 5% 1% 5%;
}
.end-footer-container {
  background-color: black;
  padding: 1%;
  text-align: center;
}
.end-footer {
  color: var(--white);
}
.footer-title {
  color: var(--dark-grey);
}
.footer-txt {
  color: var(--white);
  font-weight: 600;
  font-size: small;
}
/* Mobile Responsive Setting */
@media only screen and (max-device-width: 768px) {
  .footer-icon {
    width: 50%;
  }
  .end-footer-container {
    font-size: 8px;
  }
}
