:root {
  /* --primary-red: #7c1034; */
  --primary-red: #413A6D;

  --primary-black: #000000;
  --primary-blue: #29354a;
  --white: #f2f4f8;
  --medium-grey: #5c5c5c;
  --dark-grey: #141414;
}
  .nav-container{
    background-color: var(--white);
    padding: 0.5% 0% 0.5% 0%;
  }
  .company-logo{
    width: 25%;
    cursor: pointer;
    padding-left: 10%;
   
  }
  .nav-link{
    text-decoration: none;
    color: var(--dark-grey);
  }
  .nav-link-container{
    margin-top: 3%;
    text-align: center;
  }
  .nav-links{
    margin: 2%;
    color: var(--dark-grey);
    cursor: pointer;
    font-weight: 600;
   
  
  }
  .nav-links:hover{
    color: var(--primary-red);
  }
  /* Mobile Responsive Styles */
  @media only screen and (max-device-width: 768px) {

    .company-logo{
        display: block;
        margin: auto;
        padding: 0;
    }
    .nav-link-container{
       padding: 1% 2% 1% 2%;
       text-align: center;
    }
    .nav-links{
        text-align: center;
    }
    .nav-links{
      font-size: 12px;
    }
  }